h4 {
    text-align: center;
    margin-bottom: 20px;
}

.hr-ligh {
    margin: 15px;
}

label {
    color: #f67d06;
}

.btn {
    background-color: #f67d06;
    border: #f67d06;
    margin-bottom: 5px;
    width: 175px;
    margin: 5px;
}