<html lang="pt-br">

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#f67d06;">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../assets/imagens/logo01.png" alt="" width="60" height="55">
                </a>
            </div>
        </nav>

        <div class="view" style="background-image: url('../assets/imagens/pageselfie05.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-black-light align-items-center">
                <div class="container">
                    <div class="row py-5">
                        <div class="col-md-7 mb-4 white-text text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="h3-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s">Envio de selfie</h3>
                                    <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                                    <h6 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s">faça o upload da sua selfie para continuar</h6>
                                    <form class="form-group">
                                        <label for="file-upload" class="custom-file-upload">Selecione uma selfie</label>
                                        <input id="file-upload" type="file" />
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>
